  a {
    text-decoration:none;
    color:#285d33;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
 
  }

  .from {
    opacity:0.5;
  }

  body {
    background:#002e001f;
  }

  .newMsg {
    font-size:18px;
    width:20px;
    height:20px;
    border-radius:100%;
    color:black;
    background-color: #285d33 ;
    align-items: center;
    display: flex;
  }

  .thumb-video {
    height:200px;
    width:100%;
    border:solid 2px #fff;
    background-size:100%;  
  } 

  .thumb-video img {
    background-size:100%;
    left:0;
    background-position-y:50%;
    width:100%;
  } 

  .messages {
    padding: 0px 10px 10px 10px;
    margin: 10px;
    margin-top:5px;
    left:29%;
    width:67%;
    height:70%;
    border-radius: 10px 0px 10px 0px;
    overflow-y: scroll;
    background-image:url("../../Images/background.svg");
    background-size: 100vw auto;
    background-size: cover;
  }

  .contacts {
    margin: 5px;
    left:10px;
    width:27%;
    height:88%;
    border-radius: 10px;
    overflow-y: scroll;
    position: absolute;
  } 
  

  .contacts a h2 {
    font-size: 14px;
    min-width:100px;
    margin: 0;
    padding:15px;
    align-items: center;
    display: flex;
  }

  .contacts a h2:hover {
    background-color: #285d33 ;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 35%);
    color: white;
  }
  
  .text {
    padding: 0px 10px 10px 10px;
    background: none;
    border-top-left-radius:10px; 
    border-bottom-right-radius:10px;     
    margin: 5px;
    left:29%;
    width:61%;
    height:16%;
  }

  @-moz-document url-prefix() {
    .text {
      top:0;
    }
  }

  .contacts a h2 img {
    border-radius:100px;
    background-image: url("Images/profilePic.png");
    height:40px;
    width:40px;
    background-size:100%;
    background-position-y:50%;
    background-repeat:no-repeat;
    background-size: 100vw auto;
    background-position-x:50%;
    background-size: cover;
  }

  textarea { 
    font-size: 18px; 
  }

  .text, .messages {
    display: inline-block;
    position: relative;
  }

  .send {
    position:absolute; 
    background: none;
    border: none;  
    text-transform: uppercase;    
    margin-left:0px; 
    border-radius:100%;  
    padding:10px;   
    width:40px;   
    height:40px;   
    left:92%;
    background-image: url("../../Images/send_vectorized.png");
    background-repeat: no-repeat;
    background-position-x:10px;
    background-position-y:6px;
    background-size:70%;
  }

  .header {
    height:30px;
  }

  .header h2 a:hover {
    transition:0.5s; 
    animation-delay: 0.5s;
    color:#fff;
  }

  @-moz-document url-prefix() {
    .header {
      margin-top:-10px;
    }
  }

  .send:hover {
    background-color:hsl(132, 40%, 26%);
  }

  .login, .singUP {
    margin-top: 5%;
    right:50%;
  }
  
  .search {
    position: absolute;
    top:5px;
    margin-top: 0px;
    background:none;
    height:35px;
    left:24%;
    border: none;
    align-items: center;
    padding-left:40px;
    background-position-y:4px;
    background-position-x:12px;
    border:solid 2px rgba(255, 255, 255, 0);
    border-radius:20px;
    font-weight: bolder;
    background-image: url("../../Images/search-dark.svg");
    background-size:55%;
    background-repeat: no-repeat;
  }

  .search:hover {
    position: absolute;
    top:5px;
    margin-top: 0px;
    background:none;
    left:7px;
    width:27.5%;
    border: none;
    background-position-y:5px;
    background-position-x:5px;
    border-radius:20px;
    border:solid 2px #285d33;
    font-weight: bolder;
    background:none;
    background-repeat: no-repeat;
    background-color:#285d33;
  }


  .inputText,.inputNick, .inputPassword, .inputSubmit {
    background:none;
    height:35px;
    border: none;
    align-items: center;
    padding-left:40px;
    background-repeat: no-repeat;
    background-position-y:5px;
    background-position-x:12px;
    border-radius:20px;
    border:solid 2px #285d33;
    font-weight: bolder;
  }

  .delete a {
    display: none;
  }
  
  .delete:hover a {
    z-index:1000;
    position: absolute;
    display:block;
    padding:10px;
    border: 3px solid #293528;
    color:black;
    margin-left:-42px;
  }

  .msg {
    border-top-left-radius:10px; 
    padding:10px;
    max-width:50%;
    border-bottom-right-radius:10px;  
    margin:10px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 35%);
    color:black;
    font-weight: bold;
    word-break: break-all;
  }

  .msg a {
    color:white;
  }

  .msg-left {
    margin-left:50%;
  }

  .imgEmoji {
    margin-top:1.5%;
    margin-right:10.5%;
  }

  .back img, .logout img {
    width:15px;
  }


  .picMessage img {
    border-radius:100px;
    background-image: url("Images/profilePic.png");
    height:128px;
    width:128px;
    display: inline;
    background-size:100%;
    position:absolute;
    top:17px;
    margin-left:50px;
  }

  @-moz-document url-prefix() {
    .picMessage img {
      top:1px;
    }
  }

  .userName {
    position:absolute;
    top:42px;
    margin-left:200px;
    font-size:58px;
    color:black;
  }

  .userName, .back,  .picMessage img {
    display:none;
  }    

  .inputNick {
    background-image: url("../../Images/arrobaIcon-dark.svg");  
  }

  .inputText {
      background-image: url("../../Images/nameIcon-dark.svg");
  }

  .inputPassword {
      background-image: url("../../Images/passwordIcon-dark.svg");
  }

  .inputSubmit {
    font-size: 18px;
    padding:20px;
    padding-top:6px;
  }

  .inputSubmit:hover {
    background:#285d33;
  }

  .singUp {
    color:black;
    padding:5px;
    padding-bottom:10px;
    padding-top:5px; 
  }

  .editPass img, .editPro img {
    height:18px;
  }
  .contacts, .messages, .text, .msg{
      border: 3px solid #285d33;
  }

  .send {
    border: 3px solid rgba(0,0,0,0);
  } 


  .back, .header, .logout, .messages, .picMessage img , .text, .send, .contacts a h2, .user, .contacts, .search, .profilePic, .inputSubmit, .inputPassword, .inputText, .inputNick {
    transition:0.125s; 
    animation-delay: 0.25s;
  }

  .search  {
    width: 40px;
  }

  ::-webkit-scrollbar {
    width:20px;
    border-radius:10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#285d33;
  }   

  ::-webkit-scrollbar-thumb {
    background:white;
    border-radius:10px;
    border:solid 1px rgba(0,0,0,0.25);
  }

  ::-webkit-scrollbar-track {
    border-radius:10px;
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.25);
  }

  ::-webkit-input-placeholder{
    color: #285d33;
    font-weight: bold;
  }

  @media only screen and (max-width: 1080px) {
    .contacts, .search:hover {
      width:97%;
    }
    .contacts {
      height: 87%;
    }
    .search {
      height:82px; 
      background-image: url("../../Images/search-dark.svg");
      background-size:100%;
      background-position-y:20px;
      background-position-x:0px;
      left:92%;
      font-size:32px;
    }
    .search:hover{
      background-image: url("");
      background-position-y:20px;
      border-radius:40px;
    }
    .contacts a h2 img {
      width:128px;
      height:128px;
    }
    .contacts a h2, .user  {
      font-size:64px;
    }

    .header {
      height:80px;
    }
    
    .back img, .logout img{
      width:40px;
    }

    .down {
      top:0px;
    }

    .userName {
      display: block;
    }
  } 