.salvar, .editPic {
  display: none;
}

.profilePic {
  background: none;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-image: url("Images/profileMedium.png");
  background-size: 100vw auto;
  background-position-x: 50%;
  background-size: cover;
  background-color: rgba(23, 37, 52);
}

.editProfile {
  width: -webkit-fill-available;
  border-radius: 10px;
  overflow-y: scroll;
  margin-top: 5px;
  padding-top: 20px;
  background-image: url("Images/bg.svg");
  background-size: 70%;
  height: 82.7%;
  background-color: #0240911f;
}

.home {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (orientation: portrait) or (max-width:900px) {

  * {
    font-size: 36px;
  }

  .user a {
    font-size: 100px;
  }

  .editProfile {
    width: 100%;
  }

  .contacts {
    display: none;
  }

  .back {
    margin-top: 64px;
    display: block;
  }

  .logout, .user {
    display: none;
  }

  .picMessage img {
    background-size: 100vw auto;
    background-position-x: 50%;
    background-size: cover;
    display: block;
  }

  .msg {
    max-width: 70%;
  }

  .image_file {
    height: 600px;
    overflow-x: auto;
  }

  .uploading {
    width: 200px;
  }

  .image_file img {
    width: auto;
    height: 100%;
  }

  .inputText, .inputNick, .inputPassword, .inputSubmit {
    font-size: 48px;
    padding: 20px;
    height: 120px;
    padding-left: 80px;
    border-radius: 80px;
  }

  .inputSubmit {
    padding-left: 20px;
  }

  .msg-left {
    margin-left: 30%;
  }

  .msg a {
    color: white;
  }

  .inputSubmit {
    padding: 20px;
    padding-top: 15px;
  }

  .editPic img, .editPass img, .editPro img {
    height: 50px;
  }

  .thumb-video {
    height: 250px;
  }

  .profilePic {
    width: 320px;
    height: 320px;
  }

  center h3 {
    font-size: 64px;
  }

  .back {
    float: left;
    margin-top: 25px;
  }

  .back img {
    float: left;
  }
  .picMessage {
    overflow: hidden;
  }
  .picMessage img {
    object-fit: cover;
    float: left;
    margin-left: 20px;
    top: 0;
  }

  .back img, .logout img {
    width: 70px;
  }


  .messages {
    width: 94.5%;
    height: 75%;
    left: 0;
    background-size: 100%;
  }


  .delete {
    z-index: 1000;
    font-size: 18px;
  }

  .delete a {
    font-size: 12px;
  }

  .delete:hover a {
    margin-left: -100px;
  }

  .text, .send, .attachment {
    float: left;
    display: inline;
  }

  .text {
    font-size: 48px;
    background-size: 64px;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(0% + 20px);
    padding-right: 104px;
  }

  .attachment {
    width: 60px;
    height: 60px;
    z-index: 10000;
    margin-left: 10px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 48px;
  }

  .send {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 48px;
  }

  .attachment_file a {
    font-size: 48px;
  }

  .attachment_file img {
    width: 80px;
    height: 80px;
  }

  .attachment_file, .image_file, .thumb-video img {
    border-radius: 20px;
  }

  .media_file {
    width: 100%
  }

  .player, .media_file .name {
    border-radius: 10px;
  }

  .player {
    padding: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .media_file .name {
    font-size: 28px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .play-button, .download-button {
    width: 80px;
    height: 80px;
  }

  .progress-bar {
    height: 40px;
    border-radius: 20px;
  }

  .progress {
    border-radius: 20px;
  }

  .current-time,
  .duration {
    font-size: 32px;
    margin-left: 20px;
  }

  .editProfile, .home, .contacts, .text, .messages {
    border-radius: 20px;
  }


}