@media only screen and (max-width: 1080px) {
    * {
        font-size:36px;
    } 

    .contacts, .search {
      display: none;
    } 

    .messages {
      width:97%;
      height:60%;
      left:-0.8%;
    }

    .delete {
      font-size:18px;
    }
    .delete a {
      font-size:12px;
    }
    .delete:hover a {
      margin-left:-100px;
    }

    .text {
      width:90%;
      height:19%;
      left:-0.8%;
    }

    .send {
        width:70px;   
        height:70px;
        background-position-x:13px;
        background-position-y:9px;
        left:90%;
    }

    .back {
      margin-top:64px;
      display: block;
    }

    .logout , .user {
      display: none;
    }

    .userName , .picMessage img {  
      display:block;
    }

    .header {
      height:92px;
    }

    .inputText,.inputNick, .inputPassword, .inputSubmit {
        font-size: 32px;
        padding:20px;
        height:70px;
        background-position-y:22px;
        padding-left:40px;
        border-radius:40px;
    }

    .inputSubmit {
        padding:20px;
        padding-top:15px;
    }

     .editPic img, .editPass img, .editPro img {
        height:50px;
     }

  } 