  a {
    text-decoration:none;
    color:#285d33;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

  .from {
    opacity:0.5;
  }

  body {
    background:#002e001f;
    padding-left:50px;
    padding-right:50px;
  }

  .newMsg {
    font-size:18px;
    width:20px;
    height:20px;
    border-radius:100%;
    color:black;
    background-color: #285d33 ;
    align-items: center;
    display: flex;
  }

  .thumb-video {
    height:200px;
    width:100%;
    border:solid 2px #fff;
    background-size:100%;  
  } 

  .thumb-video img {
    background-size:100%;
    left:0;
    background-position-y:50%;
    width:100%;
  } 



  .contacts {
    margin: 5px;
    margin-left: 0;
    width:27%;
    height:88%;
    border-radius: 10px;
    overflow-y: scroll;
  } 
  

  .contacts a h2 {
    font-size: 14px;
    min-width:100px;
    margin: 0;
    padding:15px;
    align-items: center;
    display: flex;
  }

  .contacts a h2:hover {
    background-color: #285d33 ;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 35%);
    color: white;
  }
  
  .text {
    background: none;
    border-top-left-radius:10px; 
    border-bottom-right-radius:10px;     
    width:66%;
    height:15%;
    position: relative;
    margin-left:0px;
    margin-top:5px;
  }


  @-moz-document url-prefix() {
    .text {
      top:0;
    }
  }

  .contacts a h2 img {
    border-radius:100px;
    background-image: url("Images/profilePic.png");
    height:40px;
    width:40px;
    position: relative;
    display:flex;
    background-size:100%;
    background-position-y:50%;
    background-repeat:no-repeat;
    background-size: 100vw auto;
    background-position-x:50%;
    background-size: cover;
  }

  textarea { 
    font-size: 18px; 
  }

  .messages {
    padding: 0px 10px 10px 10px;
    margin: 10px;
    top: 0;
    margin-top:5px;
    height:70%;  
    width:67%;
    border-radius: 10px 0px 10px 0px;
    overflow-y: scroll;
    background-image:url("../../Images/background.svg");
    background-size: 100vw auto;
    background-size: cover;
    margin-bottom:0px;
  }



  .send {
    background: none;
    border: none;  
    text-transform: uppercase;    
    border-radius:100%;  
    padding:10px;   
    width:40px;   
    height:40px;   
    background-image: url("../../Images/send_vectorized.png");
    background-repeat: no-repeat;
    background-position-x:10px;
    background-position-y:6px;
    background-size:70%;
  }


  .attachment {
    background: none;
    border: none;  
    text-transform: uppercase;    
    border-radius:100%;  
    padding:10px;   
    width:20px;   
    height:20px;   
    position: relative;
    float: left;
    display:flex;
    background-image: url("../../Images/attachment.png");
    background-repeat: no-repeat;
    background-position-x:7px;
    background-position-y:6px;
    background-size:70%;
  }

  .attachment_file {
    margin-top:5px;
    padding:4%;
    background-color: rgba(127,127,127,0.5);
    width: 91%;
    border:solid 2px #285d33;
    border-radius:5px;
  }

  .image_file {
    margin-top:5px;
    background-color: rgba(127,127,127,0.5);
    width: 99%;
    border:solid 2px #285d33;
    border-radius:5px;
  }

  .video_file {
    margin-top:5px;
    background-color: rgba(127,127,127,0.5);
    width: 95%;
    border:solid 2px #285d33;
    border-radius:5px;

  }

  .audio_file {
    margin-top:5px;
    background-color: rgba(127,127,127,0.5);
    width: 100%;
    border:solid 2px #285d33;
    border-radius:50px;
    box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 35%);
  }


  .fileIcon {
    width:15px;
    height:15px;
    background-size:100%;
  }

  .attachment_file a {
    font-size: 22px;
    margin-left:5px;
  }


  .attachment:hover {
    background-color:hsl(132, 40%, 26%);
  }

  .header {
    height:30px;
  }

  .header h2 a:hover {
    transition:0.5s; 
    animation-delay: 0.5s;
    color:#fff;
  }

  @-moz-document url-prefix() {
    .header {
      margin-top:-10px;
    }
  }

  .send:hover {
    background-color:hsl(132, 40%, 26%);
  }

  .login, .singUP {
    margin-top: 5%;
    right:50%;
  }

 
  .text, .attachment, .send {
    float: left;
    display:flex;
  }


  
  .search {
    position: absolute;
    top:5px;
    margin-top: 0px;
    background:none;
    height:35px;
    left:25%;
    border: none;
    align-items: center;
    padding-left:40px;
    background-position-y:4px;
    background-position-x:12px;
    border:solid 2px rgba(255, 255, 255, 0);
    border-radius:20px;
    font-weight: bolder;
    background-image: url("../../Images/search-dark.svg");
    background-size:55%;
    background-repeat: no-repeat;
  }

  .search:hover {
    top:5px;
    margin-top: 0px;
    background:none;
    left:50px;
    width:25.5%;
    border: none;
    background-position-y:5px;
    background-position-x:5px;
    border-radius:20px;
    border:solid 2px #285d33;
    font-weight: bolder;
    background:none;
    background-repeat: no-repeat;
    background-color:#285d33;
    background-image: url("../../Images/search-dark.svg");
    background-size:9%;
    background-position-y:4px;
    background-position-x:10px;
  }


  .inputText,.inputNick, .inputPassword, .inputSubmit {
    background:none;
    height:35px;
    border: none;
    align-items: center;
    padding-left:40px;
    background-repeat: no-repeat;
    background-position-y:5px;
    background-position-x:12px;
    border-radius:20px;
    border:solid 2px #285d33;
    font-weight: bolder;
  }

  .delete a {
    display: none;
  }
  
  .delete:hover a {
    z-index:1000;
    display:block;
    padding:10px;
    border: 3px solid #293528;
    color:black;
    margin-left:-42px;
  }

  .msg {
    border-top-left-radius:10px; 
    padding:10px;
    max-width:50%;
    border-bottom-right-radius:10px;  
    margin:10px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 35%);
    color:black;
    font-weight: bold;
    word-break: break-all;
  }

  .msg a {
    color:white;
  }

  .msg-left {
    margin-left:50%;
  }

  .imgEmoji {
    margin-top:1.5%;
    margin-right:10.5%;
  }

  .back img, .logout img {
    width:15px;
  }


  .picMessage img {
    border-radius:100px;
    background-image: url("Images/profilePic.png");
    height:128px;
    width:128px;
    display:flex;
    float:left;
    background-size:100%;
  }

  @-moz-document url-prefix() {
    .picMessage img {
      top:1px;
    }
  }

  .userName {
    margin-left:200px;
    font-size:100px;
    color:black;
  }

  .userName, .back,  .picMessage img {
    display:none;
  }    

  .inputNick {
    background-image: url("../../Images/arrobaIcon-dark.svg");  
  }

  .inputText {
      background-image: url("../../Images/nameIcon-dark.svg");
  }

  .inputPassword {
      background-image: url("../../Images/passwordIcon-dark.svg");
  }

  

  .inputSubmit {
    font-size: 18px;
    padding:20px;
    padding-top:6px;
  }

  .inputSubmit:hover {
    background:#285d33;
  }

  .singUp {
    color:black;
    padding:5px;
    padding-bottom:10px;
    padding-top:5px; 
  }

  .editPass img, .editPro img {
    height:18px;
  }
  .contacts, .messages, .text, .msg{
      border: 3px solid #285d33;
  }

  .send {
    border: 3px solid rgba(0,0,0,0);
  } 


  .back, .header, .logout, .messages, .picMessage img , .text, .send, .contacts a h2, .user, .contacts, .profilePic, .inputSubmit, .inputPassword, .inputText, .inputNick {
    transition:0.125s; 
    animation-delay: 0.25s;
  }


  ::-webkit-scrollbar {
    width:20px;
    border-radius:10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#285d33;
  }   

  ::-webkit-scrollbar-thumb {
    background:white;
    border-radius:10px;
    border:solid 1px rgba(0,0,0,0.25);
  }

  ::-webkit-scrollbar-track {
    border-radius:10px;
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.25);
  }

  ::-webkit-input-placeholder{
    color: #285d33;
    font-weight: bold;
  }

  .contacts {
    float: left;
    display:inline-block;
    position: relative;
  }

  .search  {
    width: 0px;
  }

  @media (orientation: portrait) or (max-width: 900px) {
    .contacts {
      width:100%;
    }
    .contacts {
      margin-top: 130px;
      height: 87%;
    }

    .search {
      height:130px; 
      background-image: url("../../Images/search-dark.svg");
      background-size:150%;
      background-position-y:20px;
      background-position-x:-9px;
      width:5%;
      left:90%;
      font-size:64px;
    }

    .search:hover{
      background-position-y:20px;
      border-radius:60px;
      width:90%;
      background-size:10%;
      padding-left:100px;
    }
    
    .search {
      transition:0.125s; 
      animation-delay: 0.25s;
    }

    .attachment { 
      width:60px;   
      height:60px;   
      z-index: 10000;
      margin-left:10px;
      background-position-x:12px;
      background-position-y:12px;
    }

    .send {
      width:80px;   
      height:80px;
      margin-left:10px;
      background-position-x:13px;
      background-position-y:9px;
    }

    .attachment_file a {
      font-size: 48px;
    }
    
    .attachment_file img {
      width: 40px;
      height: 40px;
    }
    
    .audio_file {
      width:91%;
    }


    .contacts a h2 img {
      width:128px;
      height:128px;
    }
    .contacts a h2  {
      font-size:64px;
    }

    .back img, .logout img{
      width:70px;
    }

    .userName {
      display: block;
      width:60%;
      height:100px;
      overflow-x:auto;
      overflow-y: hidden;
      word-wrap: unset;
    }

    .user {
      font-size:100px;
    }

    .messages {
      margin-top: 220px;
      width:94.5%;
      height:75%;
      left:0;
      border:solid 4px #285d33;
    }

    .delete {
      z-index: 1000;
      font-size:18px;
    }
    .delete a {
      font-size:12px;
    }

    .delete:hover a {
      margin-left:-100px;
    }

    .text, .send, .attachment {
      float: left;
      display: inline;  
    }


    .text {
      width:87%;
      height:200px;
      left:5px;
    }

    .down {
      z-index: 1000;
    }

  } 
