@media only screen and (max-width: 1080px) {
    * {
        font-size:36px;
    } 

    .contacts, .search {
      display: none;
    } 

    .messages {
      margin-top: 160px;
      width:94.5%;
      height:85%;
      left:0;
      border:solid 4px #285d33;
    }

    .delete {
      z-index: 1000;
      font-size:18px;
    }
    .delete a {
      font-size:12px;
    }
    .delete:hover a {
      margin-left:-100px;
    }

    .text {
      width:90%;
      height: 70px;
      left:5px;
    }

    .send {
        width:70px;   
        height:70px;
        background-position-x:13px;
        background-position-y:9px;
        left:90%;
    }

    .down {
      z-index: 1000;
    }

    .back {
      margin-top:64px;
      display: block;
    }

    .logout , .user {
      display: none;
    }

     .picMessage img {  
      background-size: 100vw auto;
      background-position-x:50%; 
      background-size: cover;   
      display:block;
    }

    .header {
      z-index: 1000;
      height: 164px;
      padding-left:20px;
      width:99%;
      top:0;
      left:0;
      border-bottom:solid 4px #285d33;
      border-radius:0;
      position:fixed;
      backdrop-filter: blur(32px);
      box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 35%);
    }

    .msg {
      max-width:70%;
    }


    .inputText,.inputNick, .inputPassword, .inputSubmit {
        font-size: 32px;
        padding:20px;
        height:70px;
        background-position-y:22px;
        padding-left:40px;
        border-radius:40px;
    }

    .msg-left {
      margin-left:30%;
    }
  
    .msg a {
      color:white;
    }
    
    .inputSubmit {
        padding:20px;
        padding-top:15px;
    }

     .editPic img, .editPass img, .editPro img {
        height:50px;
     }

     .thumb-video {
      height:250px;  
    } 

} 